<!-- Menu administrador -->
{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/menuAdministrador.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/partials/header.css') }}">
{% endblock head %}

{% block body %}

{% include 'admin/partials/header.html' %}

<div class="menu-administrador">
    <div class="texto-entrada">
        <h1>Bienvenido Admin</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, similique.</p>
    </div>
    <div class="consultas-principales">
        <div class="consulta">
            <img src="../../static/img/imgPrueba.jpg" alt="Administrar Eventos">
            <a href="/admin/eventos">Administrar Eventos</a>
        </div>
        <div class="consulta">
            <img src="../../static/img/imgPrueba.jpg" alt="Consultas">
            <a href="/admin/consultas">Consultas</a>
        </div>
        <div class="consulta">
            <img src="../../static/img/imgPrueba.jpg" alt="Administrar Elementos">
            <a href="/admin/elementos">Administrar Elementos</a>
        </div>
    </div>
    <div class="consultas-secundarias">
        <div class="izquierda">
            <a href="#">Ayuda</a>
            <a href="#">Administrar usuarios</a>
            <a href="#">Mi espacio</a>
        </div>
        <div class="derecha">
            <a href="#">Envios</a>
        </div>
    </div>
</div>

{% endblock body %}